<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .content {
            padding: 20px;
            display: flex;
            height: 80%;
            background-color: var(--form-bg-color);
            padding: 1vh 1vw;
        }

        .card {
            height: 60vh;
            width: 50vw;
        }

        .description {
            color: #000000 !important;
            text-align: justify;
            overflow: scroll;
        }

        p {
            margin: 20px;
        }
    </style>
</head>

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="card">
        <div class="title-bar">
            <div class="title-container">
                About the Application Page
            </div>
            <div class="create-container">
                <a href="/crud/read" id="create-btn">View Table</a>
            </div>
        </div>
        <div class="content">
            <img src="/images/caesar_cipher.png" alt="" srcset="">
            <div class="description">
                <p>The Caesar cipher is a basic encryption method where each letter in the plaintext is shifted a certain
                    number of places in the alphabet. Named after Julius Caesar, who purportedly used it, the cipher employs
                    a simple key representing the shift value. While historically significant, it's highly vulnerable to
                    brute-force attacks due to its limited number of possible combinations, making it unsuitable for secure
                    encryption purposes. Caesar's role in its popularization likely stems from his reported use of the
                    cipher to communicate with his generals during military campaigns, where the chosen shift value would
                    have been a simple and effective way to conceal messages from potential interceptors.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright 2024 Raymond Oren</p>
    </footer>
</body>

</html>