<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .content {
            padding: 20px;
            display: flex;
            height: 80%;
            background-color: var(--form-bg-color);
        }

        .card {
            height: 60vh;
            width: 50vw;
        }

        p {
            margin-left: 20px;
            color: #000000 !important;
            text-align: justify;
        }
    </style>
</head>

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>

    <div class="card">
        <div class="title-bar">
            <div class="title-container">
                About the Developer and the Application Page
            </div>
            <div class="create-container">
                <a href="/crud/read" id="create-btn">View Table</a>
            </div>
        </div>
        <div class="content">
            <img src="/images/about_dev_image.jpg" alt="" srcset="">
            <p>Hi, I am Raymond Oren, currently a 3rd Year Student of Technological Institute of the Philippines, taking
                Bachelor of Science in Information Technology.
                This website is in compliance to my course CITE 007A - Information Assurance and Security 1. This
                website is
                a simple information storage web app with an encryption algorithm of Caesar Cipher using ExpressJS. The
                inserted data in the database is encrypted using Caesar Cipher and is decrypted when requested to be
                viewed
                by the user.
            </p>
        </div>
    </div>
    <footer>
        <p>Copyright 2024 Raymond Oren</p>
    </footer>
</body>

</html>